.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs__item {
    padding: 20px;
    color: white;
}

.dialogs__item .active{
    color: rgb(183, 42, 218);
}

.masseges{
    padding: 20px;
}

.img {
    width: 80px;
    height: 80px;
}
