.App {
 width: 90%;
 margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list_Item {
  text-align: center;
  width: 200px; 
  height: 200px;
  background-color: aquamarine;
}